<div class="table-responsive p-3">
    <table>
        <tr>
            <th>Name</th>
            <th>
                <span>Username</span>
                    <button type="button" (click)="onSort()">
                        {{ORDER_LABELS[order]}}
                    </button>
            </th>
            <th>Email</th>
        </tr>
        <tr>
            <td class="p-1">
                <input type="text" class="form-control" placeholder="Searh Name" (input)="onSearch($event)">
            </td>
            <td></td>
            <td></td>
        </tr>
        @for(d of data; track $index){
            <tr>
                <td width="40%">{{d.name}}</td>
                <td width="30%">{{d.username}}</td>
                <td width="30%">{{d.email}}</td>
            </tr>
        }
    </table>
</div>